<html>
   <body>
     <h1>Datei senden</h1>
      <form action = "/uploader" method = "POST"
         enctype = "multipart/form-data">
         <input type = "file" name = "file" value=""/><br>

         <label for="value_infectious">Text eingeben für Grafik zu value_infectious und free_viral:</label><br>
         <textarea id="value_infectious<div id="textBox" contenteditable="true"><p>Text hier</p></div>" name="value_infectious" rows="50" cols="100" value=""></textarea><br>
           <label for="viral">Text eingeben für Grafik zu Viralitaet:</label><br>
           <textarea id="viral" name="viral" rows="50" cols="100" value=""></textarea><br>
             <label for="dunkelziffer">Text eingeben für Grafik zu Dunkelziffer:</label><br>
             <textarea id="dunkelziffer" name="dunkelziffer" rows="50" cols="100" value=""></textarea><br>
             <input type = "submit"/><br>

      </form>
   </body>
</html>